* {
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Roboto';
    width: 100%;
    margin: 0 auto;
}

.nav {
    width: 100%;
    float: left;
    z-index: 2;
    height: 65px;
    position: relative;
    background: #E10E20;
    top: 0px;
}

.nav .insider {
    position: absolute;
    height: auto;
    width: 990px;
    right: 20%;
    left: 20%;
    /* z-index: 100; */
    background: #F5F5F5;
    top: 30px;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.logo {
    height: auto;
    z-index: 99;
    height: 48px;
    display: block;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-top: 11px;
    width: 111px;
    margin-bottom: 10px;
}

.logo img {
    width: 100%;
}

a img,
iframe {
    border: none;
}

ul {
    list-style: none;
}

ul li {
    float: left;
    width: auto;
    height: 100%;
}

.menu li>a {
    background-color: rgb(229, 227, 227);
    color: #999999;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
    font-size: 12px;
}

.menu li>a:hover {
    color: #000;
    background-color: #F5F5F5;
}

.menu li {
    float: left;
    text-align: center;
}

.menu>li>ul {
    display: none;
}

.menu>li:hover>ul {
    display: block;
}