<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">


    <title> </title>
</head>

<body>
    <header>

        <div class="nav">

            <div class="insider">
                <a class="logo" href="../index.html">
                    <img src="../img/logo.png"> </a>

                <ul id="menu" class="menu">
                    <li><a href="">INICIO</a></li>
                    <li><a href="">CMIC</a>
                        <ul>
                            <li><a href="">Quienes somos</a></li>
                            <li><a href="">Boletin</a></li>
                            <li><a href="">Sistema</a></li>
                        </ul>
                    </li>
                    <li><a href="">AFILIACIÓN</a>
                        <ul>
                            <li><a href="">Requisitos</a></li>
                            <li><a href="">Beneficios</a></li>
                            <li><a href="">Bolsa de Trabajo</a></li>
                        </ul>
                    </li>
                    <li><a href="">CAPACITACIÓN</a>
                        <ul>
                            <li><a href="">Cursos</a></li>
                            <li><a href="">Maestrias</a></li>
                            <li><a href="">Licenciaturas</a></li>
                        </ul>
                    </li>

                    <li><a href="">EVENTOS</a>
                        <ul>
                            <li><a href="">Locales</a></li>
                            <li><a href="">Especiales</a></li>
                            <li><a href="">Comité de Damas</a></li>
                            <li><a href="">Videos</a></li>
                        </ul>
                    </li>
                    <li><a href="">MESA DE NEGOCIOS</a></li>
                    <li><a href="">REVISTAS</a></li>
                    <li><a href="">CONTACTO</a></li>


                </ul>

            </div>









        </div>


    </header>
</body>


</html>