<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="../styles/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="../styles/js/bootstrap.min.js"></script>

    <!-- bootstrap-dropdown-hover CSS -->
    <link rel="stylesheet" href="../styles/css/bootstrap-dropdownhover.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../styles/css/animate.min.css">
    <link rel="stylesheet" href="../styles/css/header.css">
    <!-- bootstrap-dropdown-hover JS -->
    <script src="../styles/js/bootstrap-dropdownhover.min.js"></script>
    <title> </title>
</head>

<body>


    <div class="contenedor">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <a class="logo" href="../index.html">
                    <img src="../img/logo.png">

                </a>

                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarCenteredExample">
                    <!-- Left links -->
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">INICIO</a>
                        </li>


                        <!-- Navbar CMIC -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
     CMIC
    </a>
                            <!-- CMIC menu -->
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#">Quienes Somos</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Boletín</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Acceso al Sistema</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Navbar AFILIACIÓN -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
    AFILIACIÓN
    </a>
                            <!-- AFILIACION menu -->
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#">Requisitos</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Beneficios</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Bolsa de Trabajo</a>
                                </li>
                            </ul>
                        </li>



                        <!-- Navbar CAPACITACION -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
   CAPACITACION
    </a>
                            <!-- CAPACITACION menu -->
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#">Maestrías</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Licenciaturas</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Cursos</a>
                                </li>

                            </ul>
                        </li>





                        <!-- Navbar EVENTOS -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
   EVENTOS
    </a>
                            <!-- EVENTOS menu -->
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#">Locales</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Especiales</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Videos</a>
                                </li>

                            </ul>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="#">MESA DE NEGOCIOS</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">REVISTA</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTACTO</a>
                        </li>


                    </ul>
                    <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>


    </div>




    <script src="../styles/js/header.js"></script>

</body>


</html>